.food-slider .swiper-wrapper,
.food-desktop-slider .swiper-wrapper {
    align-items: center;
}
/* ================= Animation ================= */
@keyframes cta-slide-up {
    from {
        opacity: 0;
        transform: translateY(18px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-cta-slide-up {
    animation: cta-slide-up 0.45s ease-out;
}

/* ================= Mobile ================= */
.food-slider-mobile {
    padding-inline: 0;
}

.food-slider-mobile .swiper-wrapper {
    align-items: flex-end;
}

.food-slider-mobile .swiper-slide {
    height: auto;
}

/* ================= Desktop ================= */

.food-desktop-slider {
    overflow: hidden !important;
}

.food-desktop-slider .swiper-wrapper {
    align-items: center;
}

.food-desktop-slider .swiper-slide {
    height: auto;
    z-index: 1;
}

.food-desktop-slider .desktop-slide-card {
    transform: scale(1);
    transform-origin: left center;
    transition: transform 0.45s ease;
}

.food-desktop-slider .swiper-slide-active {
    z-index: 30;
}

.food-desktop-slider .swiper-slide-active .desktop-slide-card {
    transform: scale(1.25);
}

/* ================= Free Event Pagination ================= */
.free-event-pagination-desktop .swiper-pagination-bullet,
.free-event-pagination-mobile .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    border-radius: 4px;
    background-color: #b3dade;
    opacity: 1;
    margin: 0 !important;
    transition: all 0.3s ease;
}

.free-event-pagination-desktop .swiper-pagination-bullet-active,
.free-event-pagination-mobile .swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url("/active.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}